@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .primary-btn {
    @apply text-sm font-semibold lg:text-base border-2 border-black px-4 py-2 shadow-[5px_5px_0px_0px] hover:bg-black hover:text-white duration-300 hover:shadow-[5px_5px_0px_0px_#474747];
  }
  .segundry-btn {
    @apply text-sm  font-semibold lg:text-base border-2 border-black px-4 py-2 bg-black text-white shadow-[5px_5px_0px_0px_#474747] hover:text-black hover:bg-white hover:shadow-[5px_5px_0px_0px];
  }
}
